name: Deploy GitHub Pages

on:
  push:
    branches:
      - main  # ou outra branch que você use

permissions:
  contents: read        # necessário para ler o repositório
  pages: write          # necessário para publicar no GitHub Pages
  id-token: write       # necessário para a ação deploy-pages@v4

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - uses: actions/checkout@v3

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
