name: Deploy GitHub Pages

on:
  push:
    branches:
      - main  # ou a branch que você usa

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages  # ⚠️ Isso é obrigatório agora
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
      - run: npm install
      - run: npm run build # se tiver build, senão pode remover
      - uses: actions/deploy-pages@v4
