name: Deploy GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: github-pages

    steps:
      - uses: actions/checkout@v3

      # Se não precisar de build, só deploy
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          folder: /  # pasta raiz do seu site
